# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
*.env
.env.*

# Logs
logs
*.log
logs/*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
products/.env
